### luci-app-temp-status
#GIT_PACKAGE luci-app-temp-status=https://github.com/openwrt-xiaomi/luci-app-temp-status.git master

### luci-theme-argon
#GIT_PACKAGE luci-theme-argon=https://github.com/openwrt-xiaomi/luci-theme-argon.git master

### luci-app-argon-config
#GIT_PACKAGE luci-app-argon-config=https://github.com/openwrt-xiaomi/luci-app-argon-config.git master

### luci-app-tn-netports
#GIT_PACKAGE luci-app-tn-netports=https://github.com/openwrt-xiaomi/luci-app-tn-netports.git master

### luci-app-timecontrol
#GIT_PACKAGE luci-app-timecontrol=https://github.com/openwrt-xiaomi/luci-app-timecontrol.git main

### luci-app-cpufreq
#GIT_PACKAGE luci-app-cpufreq=https://github.com/openwrt-xiaomi/luci-app-cpufreq.git master

### AmneziaWG
#GIT_FEED _amneziawg=https://github.com/Slava-Shchipunov/awg-openwrt.git
CONFIG_FEED__amneziawg=m

### Zapret
#GIT_FEED _zapret=https://github.com/remittor/zapret-openwrt.git
CONFIG_FEED__zapret=m

### ruantiblock
#GIT_FEED _ruantiblock=https://github.com/gSpotx2f/ruantiblock_openwrt.git
CONFIG_FEED__ruantiblock=m

### podkop (itdog)
#GIT_FEED _podkop=https://github.com/itdoginfo/podkop.git
CONFIG_FEED__podkop=m

